<div class="search-results">
  &nbsp;
</div>

<input type="hidden" value="<%= @group_id %>" name="group_id" id="group_id">

      <a class="button prev" href="#" id="back" style="display: <%= @back %>; ">
        <div class="b-inner">Назад</div>
      </a>


      <a class="button next" href="#" id="forward" style="display: <%= @forward %>; ">
        <div class="b-inner">Вперед</div>
      </a>

<input id="search-field" name="" type="text" role="textbox">
